
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

.minavbar{
    background-color: #FF9A8B;
    background-image: linear-gradient(90deg, #FF9A8B 0%, #FF6A88 55%, #FF99AC 100%);

}


.cta {
    position: relative;
    margin: auto;
    padding: 12px 18px;
    transition: all 0.2s ease;
    border: none;
    background: none;
   }
   
   .cta:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 50px;
    background: #ff9da5;
    width: 45px;
    height: 45px;
    transition: all 0.3s ease;
   }
   
   .cta span {
    position: relative;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: #474747;
   }
   
   .cta svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #234567;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
   }
   
   .cta:hover:before {
    width: 100%;
    background: #ff4982;
   }

   .cta:hover span {
    color: #fff;
   }
   
   .cta:hover svg {
    transform: translateX(0);
   }
   
   .cta:active {
    transform: scale(0.95);
   }



   .card {
    padding: 20px;
    max-width: 1000px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    background-color: rgb(255, 255, 255);
    font-family: sans-serif;
    margin:10px;
  }
  
  .content {
    margin-top: 1rem;
  }
  
  .content .header {
    margin-top: 0.5rem;
  }
  
  .image {
    width: 100%;
    height: 150px;
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    padding: 9px;
  }

    .image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 4px;
        margin-bottom: 10px;
        padding-bottom: 20px;
    }

    .image img:hover {
        opacity: 0.8;
    }
  
  .tag {
    text-transform: capitalize;
    background-color: #55dce6;
    padding: 2px 8px;
    border-radius: 4px;
    color: #fff;
  }
  
  .date {
    display: flex;
    font-size: 0.75rem;
    align-items: center;
    margin: 2px;
  }
  
  .title {
    display: block;
    font-size: 1.25rem;
    font-weight: 600;
    padding-bottom: 5px;
    padding-top: 14px;
    text-decoration: none;
    color: #e655ae;
    font-weight: bold;
  }

  .callto{
    display: block;
    font-size: 1.25rem;
    font-weight: 600;
    padding-bottom: 5px;
    padding-top: 14px;
    text-decoration: none;
    color: #55dce6;
    font-family: 'Pacifico', cursive;
  }

  .callto:hover{
    color: #e655ae;
  }


  .paginacion{
    margin-bottom: 30px;
}

.paginacion ul{
    list-style: none;
    overflow: hidden;
}

.paginacion ul li{
    display: inline-block;
    margin-right: 10px;
}

.paginacion ul li a{
    display: block;
    padding: 5px 10px;
    background-color: #d16693;
    color: #fff;
    font-size: 14px;
    font-weight: 300;
    border-radius: 10px;
}

.paginacion ul li a:hover{
    background-color: #a44cb3;
}

.paginacion ul li a.active{
    background-color: #a44cb3;
}

.paginacion ul li a.disabled{
    background-color: #ccc;
    color: #fff;
    cursor: default;
}

.paginacion ul li a.disabled:hover{
    background-color: #ccc;
}


.mifooter{
    background-color: #FF9A8B;
    background-image: linear-gradient(90deg, #FF9A8B 0%, #FF6A88 55%, #FF99AC 100%);
    text-align: center;
    color: #fff;
    font-size: 14px;
    font-weight: 300;
    font-family: 'Quicksand', sans-serif;
}